[user]
	name = Mitchell Kember
	email = mk12360@gmail.com
[alias]
	s = status -s
	b = branch
	co = checkout
	unstage = reset HEAD --
	last = log -1 HEAD
[credential]
	helper = osxkeychain
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[merge]
	tool = opendiff
[push]
	default = simple
[pull]
	rebase = true
[apply]
	whitespace = fix
