# This .gitignore is for the dofiles repository itself. It is not one of the
# dotfiles being managed. For the global ignore file, see .config/git/ignore.

/.config/fish/local.fish
/.config/git/local.gitconfig
/.config/kitty/colors.conf
/.local.profile
