[user]
	name = Mitchell Kember
	email = mk12360@gmail.com
[alias]
	s = status -s
	b = branch
	c = checkout
	a = add
	ap = add --patch
	cm = commit
	cmv = commit --verbose
	fx = commit --amend --reuse-message=HEAD
	rb = rebase
	sh = stash
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[push]
	default = simple
[pull]
	rebase = true
[apply]
	whitespace = fix
